/.idea
.classpath
.project
.settings
hs_err_pid*.log
/target/
/WebRoot/WEB-INF/classes/
/*.patch
logs
*.class
*.jar
*.war
*.ear
project/project
project/target
target
tmp
.history
dist
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
github/
wiki/
